{% extends "base.html" %}
{% load staticfiles %}

{% block pagetitle %} 应用管理   {% endblock %}
{% block pagetitle_1 %} 应用列表 {% endblock %}



{% block page_content %}
    <section class="content" xmlns="http://www.w3.org/1999/html">
        <div class="box">
            <div class="box-header">
                <a href="{% url 'ApplicationCreate' %}" class="btn btn-primary btn-success">新增应用</a>
                <form style="width: 253px" id="search_from" method="get" action="" class="pull-right mail-search">
                    <div class="input-group">
                        <input style="width: 200px" type="text" id="searche_input" name="Searche" placeholder="Searche" class="form-control ">
                        <div class="input-group-btn">
                            <button id="search_btn" type="submit"   class="btn  btn-primary btn-success">搜索</button>
                        </div>
                    </div>

                </form>
            </div>





            <!-- /.box-header -->
            <div class="box-body text-center" >
                <table id="example1" class=" text-center table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th class="text-center">
                            <input type="checkbox" id="check_all" onclick="checkAll('check_all', 'checked')">
                        </th>
                        <th>项目名</th>
                        <th>平台</th>
                        <th>环境</th>
                        <th>服务器地址</th>
                        <th>备份目录</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for app in applications %}
                        <tr>
                            <td>
                                <input type="checkbox" name="checked" value="{{ app.id }}">
                            </td>
                            <td>{{ app.items }}</td>
                            <td>{{ app.platform.platform_name }}</td>
                            <td>{{ app.env }}</td>
                            <td>{{ app.ipaddress.ip }}</td>
                            <td>{{ app.backup_path }}</td>
                            <td>
                                {% if app.status %}
                                    <i class="fa fa-circle text-green"></i>
                                {% else %}
                                    <i class="fa fa-circle text-red"></i>
                            {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'ApplicationUpdate' pk=app.id %}" class="btn btn-primary btn-sm">编辑</a>
                                <a href="{% url 'ApplicationUpdate' pk=app.id %}" class="btn btn-danger btn-sm">停止</a>
                                <a href="{% url 'ApplicationUpdate' pk=app.id %}" class="btn btn-success btn-sm">启动</a>
                                <a href="{% url 'ApplicationUpdate' pk=app.id %}" class="btn btn-yahoo btn-sm">发布</a>
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>


               {% if is_paginated %}

                        <ul class="pagination" style="float:right">
                            <li class="page-item disabled">
                                {% if page_obj.has_previous %}
                                    <a>共{{ paginator.count }}条结果</a>
                                    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                                {% else %}
                                    <a>共{{ paginator.count }}条结果</a>
                                    <li class="disabled"><span>&laquo;</span></li>
                                {% endif %}

                            {% for i in paginator.page_range %}
                                {% if paginator.num_pages > 10 %}

                                    {% if i < 7 or i > paginator.num_pages|add:-5 %}
                                        {% if i == 6 %}
                                            <li><a >...</a></li>
                                        {% else  %}
                                            {% if page_obj.number == i %}
                                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                            {% else %}
                                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% else %}

                                    {% if page_obj.number == i %}
                                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                    {% else %}
                                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                            {% else %}
                                <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                        </ul>

                        </ul>


                {% endif %}
            </div>
            <!-- /.box-body -->

        </div>

    </section>
{% endblock %}


