{% extends "base.html" %}
{% load staticfiles %}

{% block pagetitle %}   {% endblock %}
{% block pagetitle_1 %} 应用发布 {% endblock %}



{% block page_content %}
    <section xmlns="http://www.w3.org/1999/html">

        <div class="section-body">
            <div class="row" style="">
                <div class="col-sm-4  col-md-6">
                    <div class="form-group" style=""><label>Text</label><input type="text" class="form-control"></div>
                    <div class="form-group" style=""><label>Text</label><input type="text" class="form-control"></div>
                    <div class="form-group" style=""><label>Choose an option </label><select class="form-control">
                        <option value="value1">Text 1</option>
                        <option value="value2">Text 2</option>
                        <option value="value3">Text 3</option>
                        Text</select></div>
                </div>
                <div class="col-sm-4 col-5  col-md-6">
                    <div class="form-group" style=""><label>Choose an option </label><select class="form-control">
                        <option value="value1">Text 1</option>
                        <option value="value2">Text 2</option>
                        <option value="value3">Text 3</option>
                    </select></div>
                    <div class="form-group" style=""><label>Text</label><input type="text" class="form-control"></div>
                    <div class="form-group" style=""><label>Text</label><input type="text" class="form-control"></div>
                </div>
            </div>
            <div class="col-md-12" style="text-align: center; float: none;">
                <button type="button" class="btn btn-primary" style="">Primary</button>
            </div>
        </div><!--end .section-body -->
    </section>


{% endblock %}

